<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emergency Contact</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/emergency_contacts.css" />
  </head>
  <body>
    <!-- Navigation bar container -->
    <div id="navbar-container" aria-live="polite"></div>
    <h1>Emergency Contact</h1>
    <div id="contacts">
      <h2>Manage Contacts</h2>

      <!-- Contact Form for Adding or Editing -->
      <form id="contactForm">
        <label for="contactType">Contact Type:</label>
        <select id="contactType" name="contactType" required>
          <!-- Placeholder option for w3c html checker -->
          <option value="" disabled selected>Select type</option>
          <option value="Carer">Carer</option>
          <option value="Family">Family</option>
          <option value="Friend">Friend</option>
          <option value="Neighbour">Neighbour</option></select
        ><br /><br />

        <label for="contactName">Name:</label>
        <input
          type="text"
          id="contactName"
          name="contactName"
          required
          pattern="[A-Za-z\s]+"
          title="Name should only contain letters and spaces"
        />
        <div id="nameError" class="error"></div>
        <br /><br />

        <label for="contactHomePhone">Home Phone:</label>
        <input
          type="text"
          id="contactHomePhone"
          name="contactHomePhone"
          pattern="\d{11}"
          title="Home Phone must be exactly 11 digits"
        />
        <div id="homePhoneError" class="error"></div>
        <br /><br />

        <label for="contactWorkPhone">Work Phone:</label>
        <input
          type="text"
          id="contactWorkPhone"
          name="contactWorkPhone"
          pattern="\d{11}"
          title="Work Phone must be exactly 11 digits"
        />
        <div id="workPhoneError" class="error"></div>
        <br /><br />

        <label for="contactMobile">Mobile:</label>
        <input
          type="text"
          id="contactMobile"
          name="contactMobile"
          required
          pattern="\d{11}"
          title="Mobile must be exactly 11 digits"
        />
        <div id="mobileError" class="error"></div>
        <br /><br />

        <label for="contactEmail">Email:</label>
        <input type="email" id="contactEmail" name="contactEmail" /><br /><br />

        <button type="submit" id="submitContactButton">Add Contact</button>
      </form>

      <!-- Contact List -->
      <div id="contactList">
        <h3>Contacts List</h3>
        <ul id="contactsItems"></ul>
      </div>
    </div>

    <script src="/js/navbar_loader.js"></script>
    <script src="/js/emergency_contacts.js"></script>
  </body>
</html>
